<div class="container">
    <form >   
     <div class="row">
      <div class="form-group">
       <input type="text" class="form-control" >
      </div>    
   
     <div class="row">
         <div class="col-md-3">
             <button type="submit" class="btn btn-success">
                 <i class="fa fa-save"></i> 
                 Criar Lista
             </button>    
         </div>    
         <button type="button" class="btn btn-danger ml-1">
             <i class="fa fa-arrow-alt-circle-left"></i>Voltar 
          </button>   
     </div>
    </div>     
   </form>
</div>  